.hero_content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 50px 20px;
}

.about_card {
  flex: 1 1 300px;
  max-width: 350px;
}