html, body {
  margin: 0;
  padding: 0;
}

.hero_content{
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 50px 20px;
}

.about_card {
  flex: 1 1 300px;
  max-width: 350px;
}

section, footer{
    background-color: rgb(219, 219, 219);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    color: black;
}